.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card{
    background: rgb(49, 48, 48);
    padding: 1.2rem 1rem;
    height: 24rem;

}
.project-card img{
    width: 100%;
    height: 35%;
}
.project-title{
    padding: 1rem 0;
    color: white;
}
.project-des p{
    padding-bottom: .5rem;
    font-size: 1rem;
    height: 8rem;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}
.pro-btns .btn{
    padding: .3rem 1rem;
}
.pro-btns .btn:hover{
    background-color: rgb(182, 176, 176);
    
}
@media screen and (max-width:740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}