.mask{
    width: 100%;
    height: 100vh; 
    position: relative ;
}
.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}
.mask::after{
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: black;
   opacity:0.8 ;
}

.hero{
    width: 100%;
    height: 100%;
}
.content{
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    top: 50%;
    left: 50%;
}
.content h1{
    font-size: 3rem;
    padding: 0.5rem 0 1.5rem;
}

.content p{
    font-size: 1.4rem;
    font-weight: 200;
    
}
.content .btn{
    margin: 1rem 0.2rem;
}